<nav class="navbar">
  <a routerLink="/" class="nav-brand">🎲 GameBoard</a>
  <div class="nav-links">
    <a routerLink="/">Catalogue</a>
    @if (isLoggedIn() && (hasRole('EDITOR') || hasRole('WEBMASTER'))) {
      <a routerLink="/propose">Proposer</a>
      <a routerLink="/my-proposals">Mes propositions</a>
    }
    @if (hasRole('WEBMASTER')) {
      <a routerLink="/admin">Admin</a>
    }
    @if (isLoggedIn()) {
      <span class="nav-user">👤 {{ getUsername() }}</span>
      <button (click)="logout()" class="btn-nav btn-logout">Déconnexion</button>
    } @else {
      <a routerLink="/login" class="btn-nav">Connexion</a>
    }
  </div>
</nav>

<router-outlet />
